/* Estilos CSS básicos */
body {
    margin: 20;
	padding: 10;
	text-align: center;
    font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  h1 {
    background-color: blue;
    text-align: center;
    justify-content: center;
    padding: 5%;
    margin-top: 50px;
    margin-bottom: 10px;
    border-style: groove;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }

  h2 {
    font-size: xx-large;
    border-style: dashed;
  }
  
  .question {
    background-color: aqua;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    border-style: groove;
    padding: 1%;
    min-width: 300px;
	max-width: 500px;
    text-align: center;
    justify-content: center;
  }
  
  .answer {
    margin-bottom: 5px;
    min-width: 300px;
	max-width: 500px;
    justify-content: left;
    font-size: x-large;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-style: outset;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    margin: 5%;
	padding: 1%;
	list-style: circle;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
    justify-content: center;

  }

  section {
        background-color: #f8f6f6;
        padding: 1%;
        margin-bottom: 10px;
        text-align: center;
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

  }

  li {
    margin-top: 0 5%;
    margin: 10px;
    padding: 1%;
    margin-bottom: 10px;
    text-align: left;
  }

  /* Estilos para la barra de búsqueda */
.search-container {
    display: flex;
    justify-content: right;
    margin-top: 10px;
  }
  
  .search-container input[type=text] {
    padding: 10px;
    border-style: outset;
    border-radius: 20px;
    font-size: 17px;
    width: 75%;
    background-color: #f1f1f1;
  }
  
  .search-container button {
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #0b7dda;
  }
  
  /* Estilos adicionales para el icono de búsqueda */
  .fa {
    font-size: 20px;
    margin-right: 5px;
  }

  